body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  font-family: "Inter", sans-serif;  
  height: 100vh;
  width: 100vw;
}
.container {

}

.profile-card {
  background-color: #1F1F1F;
  display: flex;
  width: 376px;
  padding: 40px;
  flex-direction: column;
  align-items: center;

  flex-shrink: 0;
  word-wrap: break-word;
  border-radius: 12px;
}

.name, .address, .description {
  margin: 12px 0 12px 0;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.address, .description  {
  text-align: center;
  color: #c4f82a;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.description 
{
  width: 304px;
  color: white;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  
}

li{
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

button{
  display: block;
  width: 296px;
  padding:12px ;
  margin: 16px auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  align-self: stretch;
  background-color: grey;
  color:white;
  border-radius: 8px;
}

button:hover{
  background-color: #c4f82a;
  color: grey;
}

img{
  width: 88px;
  height: 88px;
  border-radius: 999px;
}